body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}

.game {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  width: 1000px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 200px;
  background-color: blueviolet;
  border: 5px solid rgb(70, 0, 70);
  border-radius: 10px;
  transition: transform .30s ease-in-out;
  font-size: 100px;
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
  color: transparent;
  cursor: pointer;
}

.open {
  background-color: rgb(236, 13, 199);
  transform: scale(90%);
  color: white;
}
