body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  width: 1000px;
}

.card {
  height: 300px;
  width: 200px;
  background-color: blueviolet;
  border: 5px solid rgb(70, 0, 70);
  border-radius: 10px;
  transition: transform 2s;
}

.is-flipped {
  background-color: rgb(11, 183, 11);
  border: 5px solid rgb(1, 103, 1);
  transform: rotateY(180deg);
}